<!-- quite similar with pug though... -->
<!-- No autocompletion -->
<!-- todo: integrate HTMX with TEMPL -->
{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}
{{define "main"}}
{{with .Snippet}}
<div class='snippet'>
  <div class='metadata'>
    <strong>{{.Title}}</strong>
    <span>#{{.ID}}</span>
  </div>
  <pre><code>{{.Content}}</code></pre>
  <div class='metadata'>
    <time>Created: {{humanData .Created}}</time>
    <time>Expires: {{humanData .Expires}}</time>
  </div>
</div>
{{end}}
{{end}}